<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003098449262-6kauofeop56n8j8cd9f0iba5fgs15te2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003098449262-6kauofeop56n8j8cd9f0iba5fgs15te2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1003098449262-m91f4orcsk949v095r41p5hbjod64t68.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACEL8X1W08wIBDYt1ip52NTFzGwEjF3b4</string>
	<key>GCM_SENDER_ID</key>
	<string>1003098449262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scramble.woozu</string>
	<key>PROJECT_ID</key>
	<string>woozu-test</string>
	<key>STORAGE_BUCKET</key>
	<string>woozu-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003098449262:ios:4d4c279eff78c422e88d7f</string>
</dict>
</plist>